<section class="container flex" id="project">
  <div class="row container flex flex-wrap" >

    {{#each projects as |project| }}
      <div class="shadow-lg bg-body mx-3" data-aos="zoom-out-down"
            data-aos-duration="3000" style="width: 18rem;">
        <div class="rotate text-center">
            <figure><a href=""><img src="" class="card-img-top" alt="..."></a></figure>
        </div> 
        <div class="card-title">
          <h5 class="card-title text-center">{{project.name}}</h5>
          <div class="card-body">
            <p>
              {{project.description}}
            </p> 
          </div>
        </div> 
      </div>
    {{/each}}
  </div>
</section>
