body{
  height: 2000px;  
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  overflow-x: hidden;
}

#myVideo {
 object-fit: cover;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


div.sticky {
  position: sticky;
  background-color: rgb(207, 207, 194);
  padding: 20px;
  font-size: 20px;
}

#section2{
  z-index: 9999;
}


.start{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Luxurious Roman', cursive;;
}

span,
h4,
h5{
  font-family: 'Lora', serif;
}



div.sticky {
  position: sticky;
  top: 0;
  background-color: rgb(207, 207, 194);
  padding: 20px;
  font-size: 20px;
}

#section2{
  z-index: 80;
}

section{
  line-height: 18pt;
  padding: 100px 0 130px 0;;
}

h2,
h6{
  text-decoration: underline;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Luxurious Roman', cursive;
  padding-bottom: 25px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none !important;
}
a:hover{
  color:black;
}

.word{
  font-family: 'Lora', serif;
  font-size: large;
  color: rgb(139, 66, 66);
}

.tag{
  display: inline-block;
  font-family: 'Lora', serif;
  font-size: large;
  color: rgb(139, 66, 66);
}

.progress-value {
  animation: load 3s normal forwards;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100% }
}
.text{
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  height: 5rem;
  text-align: center;
  font-weight: bold;
}
.rotate figure:hover img{
  -webkit-transform: scale(1.3);
   transform: scale(1.3);
}

.rotate figure img {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


.info{
  position: relative;
  padding: 0.75rem 1.25rem;
  transition: all 200ms ease-in-out;
}

.blogTag{
  width: 60px;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  background: #36b37e;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.title{
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
    font-family: 'Times New Roman', Times, serif;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}
.card{
margin-left: 19rem;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  text-align: center;
  font-weight: bold;
}
footer{
background-color: #b6d5e783;
}