:root{
  --main-color:#443;
  --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
  --border:.2rem solid var(--main-color);
  --border-hover:.2rem dashed var(--main-color);
  --background: #fff;
  --dark: #34314C;
}
body{
  height: 2000px;  
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  overflow-x: hidden;
}

#myVideo {
 object-fit: cover;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


div.sticky {
  position: sticky;
  background-color: rgb(207, 207, 194);
  padding: 20px;
  font-size: 20px;
}

#section2{
  z-index: 9999;
}


.start{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Luxurious Roman', cursive;;
}

span,
h4,
h5{
  font-family: 'Lora', serif;
}



div.sticky {
  position: sticky;
  top: 0;
  background-color: rgb(207, 207, 194);
  padding: 20px;
  font-size: 20px;
}

#section2{
  z-index: 80;
}

section{
  line-height: 18pt;
  padding: 100px 0 130px 0;;
}

h2,
h6{
  text-decoration: underline;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Luxurious Roman', cursive;
  padding-bottom: 25px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none !important;
}
a:hover{
  color:black;
}

.word{
  font-family: 'Lora', serif;
  font-size: large;
  color: rgb(139, 66, 66);
}

.tag{
  display: inline-block;
  font-family: 'Lora', serif;
  font-size: large;
  color: rgb(139, 66, 66);
}

.progress-value {
  animation: load 3s normal forwards;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100% }
}
.text{
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  height: 5rem;
  text-align: center;
  font-weight: bold;
}
.rotate figure:hover img{
  -webkit-transform: scale(1.3);
   transform: scale(1.3);
}

.rotate figure img {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


.info{
  position: relative;
  padding: 0.75rem 1.25rem;
  transition: all 200ms ease-in-out;
}

.blogTag{
  width: 60px;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  background: #36b37e;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.title{
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
    font-family: 'Times New Roman', Times, serif;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}
.card{
margin-left: 19rem;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: larger;
   text-align: center;
  font-weight: bold;
}
footer{
background-color: #b6d5e783;
}
.book form{
  margin:0 auto 2rem auto;
  max-width: 60rem;
  border-radius: var(--border-radius-hover);
  padding:3rem;
  border:var(--border);
}

.book form .box{
  width:100%;
  padding:1rem 1.2rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  text-transform: none;
  color:var(--main-color);
  border:var(--border);
  margin:.7rem 0;
}

.book form .box:focus{
  border:var(--border-hover);
}


.book a {
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
}

.book  a span {
  position: relative;
  color: #fff;
  font-family: Arial;
  letter-spacing: 3px;
  z-index: 1;
}
.book a .liquid {
  top: -80px;
  left: 0;
  background: #6F4E37;
  box-shadow: inset 0 0 50px rgba(119, 102, 102, 0.5);
  transition: .5s;
}

.book a .liquid::after,
.book a .liquid::before {
  content: '';
  width: 100%;
  height: 300%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: rgb(90, 81, 81);
}

.book a .liquid::before {
  
  border-radius: 45%;
  background: rgb(116, 96, 96);
  animation: animate 5s linear infinite;
}

.book a .liquid::after {
  
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

.book a:hover .liquid{
  top: -120px;
}

@keyframes spin {
  